**In this notebook we will apply the content base filtering algorithm that we saw in the *Recommender systems course*. We will take the movie recommendation use case with the *ml-latest-small MovieLens dataset* that you can download it from [here](https://grouplens.org/datasets/movielens/).**

# Content Based Recommandation System

Submitted By: Snnidhi Bookseller
MSc in Artificial Intelligence System, EPITA.
Year: 2019-2020

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

pd.options.display.max_columns= None

In [2]:
!tree data

Folder PATH listing
Volume serial number is AC37-2D9C
C:\USERS\SANNIDHI\DOWNLOADS\RECOMENDATION SYSTEM\DATA
ÀÄÄÄml-latest-small

In [3]:
DATA_FOLDER = Path('data/ml-latest-small')
MOVIES_FILEPATH = DATA_FOLDER / 'movies.csv'
RATINGS_FILEPATH = DATA_FOLDER / 'ratings.csv'

# Dataset

In [4]:
movies = pd.read_csv(MOVIES_FILEPATH)
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
ratings = pd.read_csv(RATINGS_FILEPATH)
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

- To only deal with a single dataframe, we will merge the *movies* and *ratings* dataframes in a single one.

In [6]:
users_info = movies.merge(ratings, on='movieId', how='inner')
users_info

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483
5,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,18,3.5,1455209816
6,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,4.0,965705637
7,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,21,3.5,1407618878
8,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,27,3.0,962685262
9,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,31,5.0,850466616
10,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,32,3.0,856736119
11,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,33,3.0,939647444
12,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,40,5.0,832058959
13,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,43,5.0,848993983
14,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,44,3.0,869251860
15,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,45,4.0,951170182
16,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,46,5.0,834787906
17,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,50,3.0,1514238116
18,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,54,3.0,830247330
19,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,57,5.0,965796031
20,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,63,5.0,1443199669
21,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,64,4.0,1161520134
22,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,66,4.0,1104643957
23,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,68,2.5,1158531426
24,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,71,5.0,864737933
25,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,73,4.5,1464196374
26,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,76,0.5,1439165548
27,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,78,4.0,1252575124
28,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,82,2.5,1084467729
29,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,86,4.0,1344082549
...,...,...,...,...,...,...
100806,188301,Ant-Man and the Wasp (2018),Action|Adventure|Comedy|Fantasy|Sci-Fi,596,4.0,1535709468
100807,188675,Dogman (2018),Crime|Drama,318,3.5,1535035470
100808,188751,Mamma Mia: Here We Go Again! (2018),Comedy|Romance,212,4.5,1532362151
100809,188797,Tag (2018),Comedy,514,4.0,1535941279
100810,188833,The Man Who Killed Don Quixote (2018),Adventure|Comedy|Fantasy,318,4.5,1535035971
100811,189043,Boundaries (2018),Comedy|Drama,338,2.5,1530148447
100812,189111,Spiral (2018),Documentary,338,3.0,1530148343
100813,189333,Mission: Impossible - Fallout (2018),Action|Adventure|Thriller,184,4.0,1537110051
100814,189333,Mission: Impossible - Fallout (2018),Action|Adventure|Thriller,248,3.5,1534602181
100815,189381,SuperFly (2018),Action|Crime|Thriller,318,2.5,1536097988
100816,189547,Iron Soldier (2010),Action|Sci-Fi,210,1.0,1528486011
100817,189713,BlacKkKlansman (2018),Comedy|Crime|Drama,462,2.5,1536467299
100818,190183,The Darkest Minds (2018),Sci-Fi|Thriller,50,3.5,1533302021
100819,190207,Tilt (2011),Drama|Romance,338,1.5,1530148481
100820,190209,Jeff Ross Roasts the Border (2017),Comedy,338,4.0,1530148487
100821,190213,John From (2015),Drama,338,1.0,1530148478
100822,190215,Liquid Truth (2017),Drama,338,1.5,1530148477
100823,190219,Bunny (1998),Animation,338,1.0,1530148473
100824,190221,Hommage à Zgougou (et salut à Sabine Mamou) (2...,Documentary,338,1.0,1530148473
100825,191005,Gintama (2017),Action|Adventure|Comedy|Sci-Fi,184,4.5,1537109489
100826,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi,184,3.5,1537098554
100827,193567,anohana: The Flower We Saw That Day - The Movi...,Animation|Drama,184,3.0,1537099103
100828,193571,Silver Spoon (2014),Comedy|Drama,184,4.0,1537099392
100829,193573,Love Live! The School Idol Movie (2015),Animation,184,4.0,1537099811
100830,193579,Jon Stewart Has Left the Building (2015),Documentary,184,3.5,1537107259
100831,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0,1537109082
100832,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,3.5,1537109545
100833,193585,Flint (2017),Drama,184,3.5,1537109805
100834,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021
100835,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,1537157606

- We will start by applying the algorithm for a single user before generalizing it to all the users dataset.

In [7]:
target_user_id = 1
target_user = users_info[users_info['userId'] == target_user_id]
target_user.sample(3)

,movieId,title,genres,userId,rating,timestamp
38226,2012,Back to the Future Part III (1990),Adventure|Comedy|Sci-Fi|Western,1,4.0,964984176
45014,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller,1,5.0,964981888
41232,2253,Toys (1992),Comedy|Fantasy,1,2.0,964981775

In [8]:
target_user = target_user.reset_index(drop=True).drop(columns=['userId', 'timestamp'])
target_user.head()

,movieId,title,genres,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.0
1,3,Grumpier Old Men (1995),Comedy|Romance,4.0
2,6,Heat (1995),Action|Crime|Thriller,4.0
3,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,5.0
4,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,5.0

- To test our algorithm, we will split it to a train and a test datasets

In [9]:
train = target_user[:200].copy()
test = target_user[200:].copy()
train.shape, test.shape

((200, 4), (32, 4))

# Recommend items depending on the user profile - single user

## Model the movies the user interacted with

- We will start by extracting the movie genres from our dataset

In [10]:
movie_genres = list(set('|'.join(train['genres'].values).split('|')))
movie_genres

['Film-Noir',
 'Musical',
 'Children',
 'Drama',
 'Fantasy',
 'Romance',
 'Adventure',
 'Crime',
 'Horror',
 'Mystery',
 'Thriller',
 'War',
 'Sci-Fi',
 'Western',
 'Animation',
 'Comedy',
 'Action']

- We add the columns for each genre

In [11]:
train[movie_genres] = pd.DataFrame([[0] * len(movie_genres)], index=train.index)
train.head()

,movieId,title,genres,rating,Film-Noir,Musical,Children,Drama,Fantasy,Romance,Adventure,Crime,Horror,Mystery,Thriller,War,Sci-Fi,Western,Animation,Comedy,Action
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,3,Grumpier Old Men (1995),Comedy|Romance,4.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,6,Heat (1995),Action|Crime|Thriller,4.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,5.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,5.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

- We hot encode each movie depending on its genres

In [12]:
for movie_genre in movie_genres:
    mask = train['genres'].str.contains(movie_genre)
    train.loc[mask, movie_genre] = 1
                    
train.sample(3)

,movieId,title,genres,rating,Film-Noir,Musical,Children,Drama,Fantasy,Romance,Adventure,Crime,Horror,Mystery,Thriller,War,Sci-Fi,Western,Animation,Comedy,Action
157,2450,Howard the Duck (1986),Adventure|Comedy|Sci-Fi,4.0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0
67,1136,Monty Python and the Holy Grail (1975),Adventure|Comedy|Fantasy,5.0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0
40,733,"Rock, The (1996)",Action|Adventure|Thriller,4.0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1

In [13]:
train[movie_genres].values

array([[0, 0, 1, ..., 1, 1, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 1],
       ...,
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 1, 1, ..., 1, 1, 0]], dtype=int64)

## Determine the user preferences using the movies he interacted with

In [14]:
movie_rating_embedding = train[movie_genres].mul(train['rating'], axis=0)
movie_rating_embedding.sample(5)

,Film-Noir,Musical,Children,Drama,Fantasy,Romance,Adventure,Crime,Horror,Mystery,Thriller,War,Sci-Fi,Western,Animation,Comedy,Action
14,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
154,0.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0
29,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0
70,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
7,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0

In [15]:
user_profile = movie_rating_embedding.mean()
user_profile

Film-Noir    0.025
Musical      0.515
Children     0.895
Drama        1.295
Fantasy      0.885
Romance      0.540
Adventure    1.600
Crime        0.895
Horror       0.270
Mystery      0.320
Thriller     0.975
War          0.375
Sci-Fi       0.730
Western      0.125
Animation    0.660
Comedy       1.470
Action       1.655
dtype: float64

## Compute the similarity between the user and preferences and the candidate movies

With user's profile and the complete list of movies and their genres in hand, and take the weighted average of every 
movie based on his profile and recommend the top twenty movies that match his preference.

In [16]:
## Multiply the genres by the weights and then take the weighted average.
recommendation_table_df = (movie_rating_embedding.dot(user_profile)) / user_profile.sum()
recommendation_table_df.head()

0    1.665911
1    0.607710
2    1.065760
3    0.489418
4    0.827664
dtype: float64

Sort the recommendation table in descending order

In [17]:
# sort values from great to small
recommendation_table_df.sort_values(ascending=False, inplace=True)
recommendation_table_df.head(20)

194    2.541572
118    2.458428
69     2.324263
128    2.020030
181    1.957672
199    1.942555
126    1.942555
192    1.821618
100    1.821618
98     1.785714
36     1.751701
138    1.747921
56     1.721466
38     1.721466
6      1.702570
125    1.687075
137    1.681784
193    1.678005
0      1.665911
96     1.606954
dtype: float64

The recommendation table. Complete with movie details and genres for the top 20 movies that match user's profile.

In [18]:
# first we make a copy of the original movies_df
copy = movies.copy(deep=True)

# Then we set its index to movieId
copy = copy.set_index('movieId', drop=True)

# Next we enlist the top 20 recommended movieIds we defined above
top_20_index = recommendation_table_df.index[:20].tolist()

# finally we slice these indices from the copied movies df and save in a variable
recommended_movies = copy.loc[top_20_index, :]

# Now we can display the top 20 movies in descending order of preference
recommended_movies

C:\Users\Sannidhi\Anaconda3\envs\nlp_course\lib\site-packages\pandas\core\indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

,title,genres
movieId,,
194,Smoke (1995),Comedy|Drama
118,If Lucy Fell (1996),Comedy|Romance
69,Friday (1995),Comedy
128,Jupiter's Wife (1994),Documentary
181,Mighty Morphin Power Rangers: The Movie (1995),Action|Children
199,"Umbrellas of Cherbourg, The (Parapluies de Che...",Drama|Musical|Romance
126,"NeverEnding Story III, The (1994)",Adventure|Children|Fantasy
192,NaN,NaN
100,City Hall (1996),Drama|Thriller
98,NaN,NaN
36,Dead Man Walking (1995),Crime|Drama
138,NaN,NaN
56,NaN,NaN
38,It Takes Two (1995),Children|Comedy
6,Heat (1995),Action|Crime|Thriller
125,Flirting With Disaster (1996),Comedy
137,Man of the Year (1995),Documentary
193,Showgirls (1995),Drama
0,NaN,NaN
96,In the Bleak Midwinter (1995),Comedy|Drama

# Recommend items depending on the user profile - multiple users

In [19]:
# TODO: generalize the algorithm to multiple users
# I tried with little bit different method

In [20]:
# Splitting genres and convert list
movies['genres'] = movies.genres.str.split('|')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),[Comedy]

In [21]:
#Merge the two movies.csv and rating.csv files
user_info =  movies.merge(ratings, on='movieId', how='inner')
user_info.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",1,4.0,964982703
1,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",5,4.0,847434962
2,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",7,4.5,1106635946
3,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",15,2.5,1510577970
4,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",17,4.5,1305696483

In [22]:
# Drop the extra columns which are not much important
target_user = user_info.reset_index(drop=True).drop(columns=['userId', 'timestamp'])
target_user.head()

,movieId,title,genres,rating
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",4.0
1,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",4.0
2,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",4.5
3,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",2.5
4,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",4.5

###### One Hot Encoding Method

In [23]:
# First let's make a copy of the movies_df
movies_with_genres = target_user.copy(deep=True)

# Iterate through movies_df, then append the movie genres as columns of 1s or 0s.
# 1 if that column contains movies in the genre at the present index and 0 if not.

x = []
for index, row in movies.iterrows():
    x.append(index)
    for genre in row['genres']:
        movies_with_genres.at[index, genre] = 1

# Confirm that every row has been iterated and acted upon
print(len(x) == len(movies))
#print(x)
#print(row)
# Filling in the NaN values with 0 to show that a movie doesn't have that column's genre
movies_with_genres = movies_with_genres.fillna(0)

# Reset index to default and drop the existing index.
movies_with_genres = movies_with_genres.set_index(movies_with_genres.movieId)

movies_with_genres.head()

True

,movieId,title,genres,rating,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
movieId,,,,,,,,,,,,,,,,,,,,,,,,
1,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",4.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",4.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",4.5,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",2.5,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",4.5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Step -1: Create user's profile

In [24]:
user_movie_ratings = target_user.copy(deep=True)
 
# Drop genres column  because we dont need 
user_movie_ratings = user_movie_ratings.drop(['genres'], 1)

user_movie_ratings

        movieId                                              title  rating
0             1                                   Toy Story (1995)     4.0
1             1                                   Toy Story (1995)     4.0
2             1                                   Toy Story (1995)     4.5
3             1                                   Toy Story (1995)     2.5
4             1                                   Toy Story (1995)     4.5
5             1                                   Toy Story (1995)     3.5
6             1                                   Toy Story (1995)     4.0
7             1                                   Toy Story (1995)     3.5
8             1                                   Toy Story (1995)     3.0
9             1                                   Toy Story (1995)     5.0
10            1                                   Toy Story (1995)     3.0
11            1                                   Toy Story (1995)     3.0
12            1                                   Toy Story (1995)     5.0
13            1                                   Toy Story (1995)     5.0
14            1                                   Toy Story (1995)     3.0
15            1                                   Toy Story (1995)     4.0
16            1                                   Toy Story (1995)     5.0
17            1                                   Toy Story (1995)     3.0
18            1                                   Toy Story (1995)     3.0
19            1                                   Toy Story (1995)     5.0
20            1                                   Toy Story (1995)     5.0
21            1                                   Toy Story (1995)     4.0
22            1                                   Toy Story (1995)     4.0
23            1                                   Toy Story (1995)     2.5
24            1                                   Toy Story (1995)     5.0
25            1                                   Toy Story (1995)     4.5
26            1                                   Toy Story (1995)     0.5
27            1                                   Toy Story (1995)     4.0
28            1                                   Toy Story (1995)     2.5
29            1                                   Toy Story (1995)     4.0
...         ...                                                ...     ...
100806   188301                        Ant-Man and the Wasp (2018)     4.0
100807   188675                                      Dogman (2018)     3.5
100808   188751                Mamma Mia: Here We Go Again! (2018)     4.5
100809   188797                                         Tag (2018)     4.0
100810   188833              The Man Who Killed Don Quixote (2018)     4.5
100811   189043                                  Boundaries (2018)     2.5
100812   189111                                      Spiral (2018)     3.0
100813   189333               Mission: Impossible - Fallout (2018)     4.0
100814   189333               Mission: Impossible - Fallout (2018)     3.5
100815   189381                                    SuperFly (2018)     2.5
100816   189547                                Iron Soldier (2010)     1.0
100817   189713                              BlacKkKlansman (2018)     2.5
100818   190183                           The Darkest Minds (2018)     3.5
100819   190207                                        Tilt (2011)     1.5
100820   190209                 Jeff Ross Roasts the Border (2017)     4.0
100821   190213                                   John From (2015)     1.0
100822   190215                                Liquid Truth (2017)     1.5
100823   190219                                       Bunny (1998)     1.0
100824   190221  Hommage à Zgougou (et salut à Sabine Mamou) (2...     1.0
100825   191005                                     Gintama (2017)     4.5
100826   193565                          Gintama: The Movie (2010)     3.5
100827   193567  anohana: The Flower We Saw That Day - The Movi...     3.0
100828   193571                                Silver Spoon (2014)     4.0
100829   193573            Love Live! The School Idol Movie (2015)     4.0
100830   193579           Jon Stewart Has Left the Building (2015)     3.5
100831   193581          Black Butler: Book of the Atlantic (2017)     4.0
100832   193583                       No Game No Life: Zero (2017)     3.5
100833   193585                                       Flint (2017)     3.5
100834   193587                Bungo Stray Dogs: Dead Apple (2018)     3.5
100835   193609                Andrew Dice Clay: Dice Rules (1991)     4.0

[100836 rows x 3 columns]

Step - 2: Learning user's profile

It starts by learning the input's preferences, so get the subset of movies that the input has watched from the Dataframe containing genres defined with binary values.

In [25]:
# filter the selection by outputing movies that exist in both user_movie_ratings and movies_with_genres
user_genres_df = movies_with_genres[movies_with_genres.movieId.isin(user_movie_ratings.movieId)]

#We'll only need the actual genre table, so let's clean this up a bit by resetting the index and dropping the movieId
#, title, genres and year columns.
user_genres_df = user_genres_df.drop(['movieId','title','genres', 'rating'], axis=1)
user_genres_df = user_genres_df.reset_index(drop=True)
user_genres_df

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100806,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100807,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100808,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100809,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100810,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100811,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100812,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100813,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100814,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100815,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100816,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100817,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100818,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100819,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100820,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100821,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100822,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100823,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100824,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100825,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100826,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100827,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100828,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100829,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100830,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100831,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100832,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100833,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100834,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100835,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Step - 3: Building user's Profile 
To do this,turn each genre into weights, by multiplying user's movie ratings by user_genres_df table. And then 
summing up the resulting table by column. This operation is actually a dot product between a matrix and a vector. First 
let's confirm the shapes of the data frames we have recently defined.

In [32]:
# Find the shapes of our data frames
print('Shape of user_movie_ratings is:', user_movie_ratings.shape)
print('Shape of user_genres_df is:', user_genres_df.shape)

Shape of user_movie_ratings is: (100836, 3)
Shape of user_genres_df is: (100836, 20)

In [27]:
# The dot product of transpose of user_genres_df by user_movie_rating column
user_profile = user_genres_df.T.dot(user_movie_ratings.rating)
user_profile

Adventure              4486.0
Animation              2170.0
Children               2390.0
Comedy                13192.0
Fantasy                2722.0
Romance                5608.0
Drama                 15460.0
Action                 6488.0
Crime                  4199.0
Thriller               6669.5
Horror                 3406.5
Mystery                2005.5
Sci-Fi                 3438.5
War                    1350.0
Musical                1173.5
Documentary            1548.5
IMAX                    582.5
Western                 572.0
Film-Noir               307.0
(no genres listed)      125.5
dtype: float64

Step 4: Deploying The Content-Based Recommender System
Delete irrelevant columns from the movies_with_genres data frame that contains all 9742 movies and distinctive columns 
of genres.

In [28]:
# Deleting four unnecessary columns.
movies_with_genres.drop(['movieId','title','genres','rating'], axis=1, inplace=True)
movies_with_genres.head()

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,(no genres listed)
movieId,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

With user's profile and the complete list of movies and their genres in hand, and take the weighted average of every 
movie based on his profile and recommend the top twenty movies that match his preference.

In [29]:
# Multiply the genres by the weights and then take the weighted average.
recommendation_table_df = (movies_with_genres.dot(user_profile)) / user_profile.sum()
recommendation_table_df.head()

movieId
1    0.320435
1    0.123219
1    0.241354
1    0.439828
1    0.169358
dtype: float64

Sort the recommendation table in descending order

In [30]:
# sort values from great to small
recommendation_table_df.sort_values(ascending=False, inplace=True)
recommendation_table_df.head(20)

movieId
280    0.729010
110    0.690509
110    0.666335
165    0.634388
317    0.629285
161    0.615882
193    0.598043
247    0.594340
208    0.590700
161    0.590655
19     0.590655
1      0.590655
1      0.590655
145    0.590655
111    0.590655
225    0.580712
235    0.580481
329    0.579358
70     0.579358
26     0.579358
dtype: float64

Here's the recommendation table. Complete with movie details and genres for the top 20 movies that match user's profile.

In [31]:
# first we make a copy of the original movies_df
copy = movies.copy(deep=True)

# Then we set its index to movieId
copy = copy.set_index('movieId', drop=True)

# Next we enlist the top 20 recommended movieIds we defined above
top_20_index = recommendation_table_df.index[:20].tolist()

# finally we slice these indices from the copied movies df and save in a variable
recommended_movies = copy.loc[top_20_index, :]

# Now we can display the top 20 movies in descending order of preference
recommended_movies

,title,genres
movieId,,
280,Murder in the First (1995),"[Drama, Thriller]"
110,Braveheart (1995),"[Action, Drama, War]"
110,Braveheart (1995),"[Action, Drama, War]"
165,Die Hard: With a Vengeance (1995),"[Action, Crime, Thriller]"
317,"Santa Clause, The (1994)","[Comedy, Drama, Fantasy]"
161,Crimson Tide (1995),"[Drama, Thriller, War]"
193,Showgirls (1995),[Drama]
247,Heavenly Creatures (1994),"[Crime, Drama]"
208,Waterworld (1995),"[Action, Adventure, Sci-Fi]"
161,Crimson Tide (1995),"[Drama, Thriller, War]"
19,Ace Ventura: When Nature Calls (1995),[Comedy]
1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
145,Bad Boys (1995),"[Action, Comedy, Crime, Drama, Thriller]"
111,Taxi Driver (1976),"[Crime, Drama, Thriller]"
225,Disclosure (1994),"[Drama, Thriller]"
235,Ed Wood (1994),"[Comedy, Drama]"
329,Star Trek: Generations (1994),"[Adventure, Drama, Sci-Fi]"
70,From Dusk Till Dawn (1996),"[Action, Comedy, Horror, Thriller]"
26,Othello (1995),[Drama]